body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  overflow:hidden;
}
#u15_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u17 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:640px;
  overflow:hidden;
}
#u18_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:640px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u18_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:140px;
}
.u21 {
  position:absolute;
  left:2px;
  top:62px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
.u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
.u22 {
  position:absolute;
  left:27px;
  top:20px;
  width:100px;
  height:100px;
}
.u23 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
.u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u24 {
  position:absolute;
  left:137px;
  top:20px;
  width:162px;
  height:45px;
}
.u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
.u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
.u26 {
  position:absolute;
  left:137px;
  top:97px;
  width:94px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
.u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
.u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u28 {
  position:absolute;
  left:257px;
  top:104px;
  width:103px;
  height:16px;
}
.u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u19-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:140px;
}
#u19-2 {
  position:absolute;
  left:0px;
  top:140px;
  width:360px;
  height:140px;
}
#u19-3 {
  position:absolute;
  left:0px;
  top:280px;
  width:360px;
  height:140px;
}
#u19-4 {
  position:absolute;
  left:0px;
  top:420px;
  width:360px;
  height:140px;
}
#u19-5 {
  position:absolute;
  left:0px;
  top:560px;
  width:360px;
  height:140px;
}
#u19-6 {
  position:absolute;
  left:0px;
  top:700px;
  width:360px;
  height:140px;
}
#u19-7 {
  position:absolute;
  left:0px;
  top:840px;
  width:360px;
  height:140px;
}
#u19-8 {
  position:absolute;
  left:0px;
  top:980px;
  width:360px;
  height:140px;
}
#u19-9 {
  position:absolute;
  left:0px;
  top:1120px;
  width:360px;
  height:140px;
}
#u19-10 {
  position:absolute;
  left:0px;
  top:1260px;
  width:360px;
  height:140px;
}
#u19-11 {
  position:absolute;
  left:0px;
  top:1400px;
  width:360px;
  height:140px;
}
#u19-12 {
  position:absolute;
  left:0px;
  top:1540px;
  width:360px;
  height:140px;
}
#u19-13 {
  position:absolute;
  left:0px;
  top:1680px;
  width:360px;
  height:140px;
}
#u19-14 {
  position:absolute;
  left:0px;
  top:1820px;
  width:360px;
  height:140px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1960px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
