body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:361px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
}
#u31_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u31_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u33 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u31_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u35 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
}
#u36 {
  position:absolute;
  left:0px;
  top:597px;
  width:28px;
  height:24px;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
}
#u38 {
  position:absolute;
  left:0px;
  top:597px;
  width:28px;
  height:24px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u40 {
  position:absolute;
  left:-4px;
  top:51px;
  width:25px;
  height:25px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u42 {
  position:absolute;
  left:176px;
  top:453px;
  width:21px;
  height:21px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u44 {
  position:absolute;
  left:233px;
  top:460px;
  width:52px;
  height:52px;
}
#u45 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u46 {
  position:absolute;
  left:326px;
  top:59px;
  width:35px;
  height:35px;
}
#u47 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u48 {
  position:absolute;
  left:79px;
  top:47px;
  width:24px;
  height:24px;
}
#u49 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  opacity:0;
}
#u51 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u52_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u52_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  opacity:0.5;
}
#u54 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:58px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55 {
  position:absolute;
  left:29px;
  top:202px;
  width:300px;
  height:170px;
}
#u56 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57 {
  position:absolute;
  left:29px;
  top:202px;
  width:300px;
  height:37px;
}
#u58 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u59 {
  position:absolute;
  left:95px;
  top:252px;
  width:169px;
  height:56px;
  font-size:24px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:175px;
  top:318px;
}
#u61_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u61_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:77px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:54px;
}
#u63 {
  position:absolute;
  left:2px;
  top:19px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u64 {
  position:absolute;
  left:18px;
  top:13px;
  width:97px;
  height:28px;
  font-size:24px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:29px;
  top:318px;
}
#u66_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u66_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:74px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:54px;
}
#u68 {
  position:absolute;
  left:2px;
  top:19px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u69 {
  position:absolute;
  left:39px;
  top:13px;
  width:97px;
  height:28px;
  font-size:24px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u71 {
  position:absolute;
  left:319px;
  top:59px;
  width:42px;
  height:42px;
}
#u72 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u73 {
  position:absolute;
  left:79px;
  top:47px;
  width:34px;
  height:34px;
}
#u74 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u75 {
  position:absolute;
  left:0px;
  top:51px;
  width:34px;
  height:34px;
}
#u76 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u77 {
  position:absolute;
  left:172px;
  top:449px;
  width:31px;
  height:31px;
}
#u78 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u79 {
  position:absolute;
  left:233px;
  top:460px;
  width:52px;
  height:52px;
}
#u80 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u81 {
  position:absolute;
  left:0px;
  top:268px;
  width:50px;
  height:50px;
  opacity:0.5;
}
#u82 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u83 {
  position:absolute;
  left:310px;
  top:268px;
  width:50px;
  height:50px;
  opacity:0.5;
}
#u84 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:260px;
  top:586px;
  visibility:hidden;
}
#u85_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u85_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
  opacity:0.5;
}
#u87 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u88 {
  position:absolute;
  left:3px;
  top:9px;
  width:97px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
