body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:361px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
}
#u31_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u31_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u33 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u31_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u35 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
}
#u36 {
  position:absolute;
  left:0px;
  top:597px;
  width:28px;
  height:24px;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
}
#u38 {
  position:absolute;
  left:0px;
  top:597px;
  width:28px;
  height:24px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u40 {
  position:absolute;
  left:310px;
  top:268px;
  width:50px;
  height:50px;
  opacity:0.5;
}
#u41 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u42 {
  position:absolute;
  left:0px;
  top:268px;
  width:50px;
  height:50px;
  opacity:0.5;
}
#u43 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u44 {
  position:absolute;
  left:-4px;
  top:51px;
  width:25px;
  height:25px;
}
#u45 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u46 {
  position:absolute;
  left:176px;
  top:453px;
  width:21px;
  height:21px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u48 {
  position:absolute;
  left:233px;
  top:460px;
  width:52px;
  height:52px;
}
#u49 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u50 {
  position:absolute;
  left:326px;
  top:59px;
  width:35px;
  height:35px;
}
#u51 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u52 {
  position:absolute;
  left:79px;
  top:47px;
  width:24px;
  height:24px;
}
#u53 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u54 {
  position:absolute;
  left:326px;
  top:59px;
  width:35px;
  height:35px;
}
#u55 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u56 {
  position:absolute;
  left:79px;
  top:47px;
  width:24px;
  height:24px;
}
#u57 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u58 {
  position:absolute;
  left:0px;
  top:51px;
  width:25px;
  height:25px;
}
#u59 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u60 {
  position:absolute;
  left:176px;
  top:453px;
  width:21px;
  height:21px;
}
#u61 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u62 {
  position:absolute;
  left:233px;
  top:460px;
  width:52px;
  height:52px;
}
#u63 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
