body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u184 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:279px;
  top:37px;
}
#u185_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u185_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑_GBK Regular', '方正兰亭黑_GBK';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  opacity:0.5;
  font-family:'方正兰亭黑_GBK Regular', '方正兰亭黑_GBK';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u187 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u185_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u185_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑_GBK Regular', '方正兰亭黑_GBK';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  opacity:0.5;
  font-family:'方正兰亭黑_GBK Regular', '方正兰亭黑_GBK';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u189 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u185_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u185_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑_GBK Regular', '方正兰亭黑_GBK';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  opacity:0.5;
  font-family:'方正兰亭黑_GBK Regular', '方正兰亭黑_GBK';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u191 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
