body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:114px;
  top:376px;
  width:204px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#C9C9C9;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3 {
  position:absolute;
  left:114px;
  top:435px;
  width:204px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#C9C9C9;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 102, 0, 1);
  border:none;
  border-radius:57px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u4 {
  position:absolute;
  left:55px;
  top:513px;
  width:174px;
  height:60px;
  font-size:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  word-wrap:break-word;
}
#u4_ref {
  position:absolute;
  left:221px;
  top:563px;
  width:1px;
  height:1px;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:60px;
  background:inherit;
  background-color:rgba(243, 155, 86, 1);
  border:none;
  border-radius:57px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u6 {
  position:absolute;
  left:55px;
  top:513px;
  width:174px;
  height:60px;
  font-size:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  word-wrap:break-word;
}
#u6_ref {
  position:absolute;
  left:221px;
  top:563px;
  width:1px;
  height:1px;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:60px;
  background:inherit;
  background-color:rgba(243, 155, 86, 1);
  border:none;
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u8 {
  position:absolute;
  left:239px;
  top:513px;
  width:79px;
  height:60px;
  font-size:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u8_ref {
  position:absolute;
  left:310px;
  top:563px;
  width:1px;
  height:1px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u0_img.a {
}
#u1.a {
}
#u2.a {
  position:absolute;
  left:114px;
  top:376px;
  width:204px;
  height:25px;
}
#u2_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#C9C9C9;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3.a {
  position:absolute;
  left:114px;
  top:435px;
  width:204px;
  height:25px;
}
#u3_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#C9C9C9;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4.a {
}
#u4_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 102, 0, 1);
  border:none;
  border-radius:57px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u5.a {
}
#u6.a {
}
#u6_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:60px;
  background:inherit;
  background-color:rgba(243, 155, 86, 1);
  border:none;
  border-radius:57px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u7.a {
}
#u8.a {
}
#u8_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:60px;
  background:inherit;
  background-color:rgba(243, 155, 86, 1);
  border:none;
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u9.a {
}
