body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u187 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑_GBK Bold', '方正兰亭黑_GBK';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u188 {
  position:absolute;
  left:41px;
  top:42px;
  width:51px;
  height:27px;
  font-family:'方正兰亭黑_GBK Bold', '方正兰亭黑_GBK';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑_GBK Bold', '方正兰亭黑_GBK';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u190 {
  position:absolute;
  left:39px;
  top:109px;
  width:301px;
  height:27px;
  font-family:'方正兰亭黑_GBK Bold', '方正兰亭黑_GBK';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u192 {
  position:absolute;
  left:44px;
  top:170px;
  width:289px;
  height:33px;
}
#u193 {
  position:absolute;
  left:2px;
  top:8px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:252px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u194 {
  position:absolute;
  left:44px;
  top:228px;
  width:289px;
  height:252px;
}
#u195 {
  position:absolute;
  left:2px;
  top:118px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:44px;
  top:170px;
  width:289px;
  height:33px;
}
#u196_input {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u197 {
  position:absolute;
  left:44px;
  top:228px;
  width:289px;
  height:252px;
}
#u197_input {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:252px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:60px;
  background:inherit;
  background-color:rgba(243, 155, 86, 1);
  border:none;
  border-radius:65px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑_GBK Regular', '方正兰亭黑_GBK';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u198 {
  position:absolute;
  left:44px;
  top:509px;
  width:289px;
  height:60px;
  font-family:'方正兰亭黑_GBK Regular', '方正兰亭黑_GBK';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u199 {
  position:absolute;
  left:2px;
  top:7px;
  width:285px;
  word-wrap:break-word;
}
#u200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  opacity:0.2;
}
#u201 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:39px;
  top:244px;
  visibility:hidden;
}
#u202_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u202_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u204 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:29px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:29px;
}
#u206 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:49px;
  background:inherit;
  background-color:rgba(243, 155, 86, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
}
#u207 {
  position:absolute;
  left:0px;
  top:121px;
  width:300px;
  height:49px;
  font-size:30px;
  color:#FFFFFF;
}
#u208 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u209 {
  position:absolute;
  left:96px;
  top:67px;
  width:109px;
  height:32px;
  font-size:24px;
}
#u210 {
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  word-wrap:break-word;
}
