body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:18669px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u37 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 204, 153, 1);
  border:none;
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑_GBK Regular', '方正兰亭黑_GBK';
  font-weight:400;
  font-style:normal;
  font-size:40px;
}
#u38 {
  position:absolute;
  left:44px;
  top:396px;
  width:247px;
  height:57px;
  font-family:'方正兰亭黑_GBK Regular', '方正兰亭黑_GBK';
  font-weight:400;
  font-style:normal;
  font-size:40px;
}
#u39 {
  position:absolute;
  left:2px;
  top:6px;
  width:243px;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:57px;
  background:inherit;
  background-color:rgba(243, 155, 86, 1);
  border:none;
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑_GBK Regular', '方正兰亭黑_GBK';
  font-weight:400;
  font-style:normal;
  font-size:40px;
}
#u40 {
  position:absolute;
  left:44px;
  top:396px;
  width:247px;
  height:57px;
  font-family:'方正兰亭黑_GBK Regular', '方正兰亭黑_GBK';
  font-weight:400;
  font-style:normal;
  font-size:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:6px;
  width:243px;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑_GBK Bold', '方正兰亭黑_GBK';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u42 {
  position:absolute;
  left:44px;
  top:240px;
  width:51px;
  height:27px;
  font-family:'方正兰亭黑_GBK Bold', '方正兰亭黑_GBK';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:105px;
  top:242px;
  width:186px;
  height:25px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑_GBK Bold', '方正兰亭黑_GBK';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u45 {
  position:absolute;
  left:44px;
  top:325px;
  width:51px;
  height:27px;
  font-family:'方正兰亭黑_GBK Bold', '方正兰亭黑_GBK';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:2px;
}
#u47 {
  position:absolute;
  left:105px;
  top:266px;
  width:186px;
  height:1px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-8px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:105px;
  top:326px;
  width:186px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:25px;
  background-color:transparent;
  font-family:'方正兰亭黑_GBK Regular', '方正兰亭黑_GBK';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u50 {
  position:absolute;
  left:105px;
  top:327px;
  width:186px;
  height:25px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:25px;
  background-color:transparent;
  font-family:'方正兰亭黑_GBK Regular', '方正兰亭黑_GBK';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:2px;
}
#u51 {
  position:absolute;
  left:105px;
  top:351px;
  width:186px;
  height:1px;
}
#u52 {
  position:absolute;
  left:2px;
  top:-8px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  position:absolute;
  left:18309px;
  top:0px;
  width:360px;
  height:640px;
}
#u54 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 204, 153, 1);
  border:none;
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑_GBK Regular', '方正兰亭黑_GBK';
  font-weight:400;
  font-style:normal;
  font-size:40px;
}
#u55 {
  position:absolute;
  left:18353px;
  top:463px;
  width:141px;
  height:57px;
  font-family:'方正兰亭黑_GBK Regular', '方正兰亭黑_GBK';
  font-weight:400;
  font-style:normal;
  font-size:40px;
}
#u56 {
  position:absolute;
  left:2px;
  top:6px;
  width:137px;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:57px;
  background:inherit;
  background-color:rgba(243, 155, 86, 1);
  border:none;
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑_GBK Regular', '方正兰亭黑_GBK';
  font-weight:400;
  font-style:normal;
  font-size:40px;
}
#u57 {
  position:absolute;
  left:18353px;
  top:463px;
  width:141px;
  height:57px;
  font-family:'方正兰亭黑_GBK Regular', '方正兰亭黑_GBK';
  font-weight:400;
  font-style:normal;
  font-size:40px;
}
#u58 {
  position:absolute;
  left:2px;
  top:6px;
  width:137px;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑_GBK Bold', '方正兰亭黑_GBK';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u59 {
  position:absolute;
  left:18353px;
  top:334px;
  width:51px;
  height:27px;
  font-family:'方正兰亭黑_GBK Bold', '方正兰亭黑_GBK';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:18414px;
  top:336px;
  width:186px;
  height:25px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑_GBK Bold', '方正兰亭黑_GBK';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u62 {
  position:absolute;
  left:18353px;
  top:391px;
  width:51px;
  height:27px;
  font-family:'方正兰亭黑_GBK Bold', '方正兰亭黑_GBK';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:2px;
}
#u64 {
  position:absolute;
  left:18414px;
  top:360px;
  width:186px;
  height:1px;
}
#u65 {
  position:absolute;
  left:2px;
  top:-8px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:18414px;
  top:392px;
  width:186px;
  height:25px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:25px;
  background-color:transparent;
  font-family:'方正兰亭黑_GBK Regular', '方正兰亭黑_GBK';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:2px;
}
#u67 {
  position:absolute;
  left:18414px;
  top:417px;
  width:186px;
  height:1px;
}
#u68 {
  position:absolute;
  left:2px;
  top:-8px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
}
#u69 {
  position:absolute;
  left:18565px;
  top:393px;
  width:35px;
  height:25px;
}
#u69_img.selected {
}
#u69.selected {
}
#u70 {
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71 {
  position:absolute;
  left:18565px;
  top:345px;
  width:35px;
  height:16px;
}
#u72 {
  position:absolute;
  left:2px;
  top:0px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u73 {
  position:absolute;
  left:18565px;
  top:345px;
  width:35px;
  height:16px;
}
#u74 {
  position:absolute;
  left:2px;
  top:0px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u75 {
  position:absolute;
  left:44px;
  top:154px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑_GBK Bold', '方正兰亭黑_GBK';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u77 {
  position:absolute;
  left:44px;
  top:42px;
  width:51px;
  height:27px;
  font-family:'方正兰亭黑_GBK Bold', '方正兰亭黑_GBK';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  position:absolute;
  left:407px;
  top:182px;
  width:300px;
  height:170px;
}
#u80 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  background:inherit;
  background-color:rgba(243, 155, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81 {
  position:absolute;
  left:407px;
  top:182px;
  width:300px;
  height:43px;
}
#u82 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
