body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u11 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u10.a {
}
#u10_img.a {
}
#u11.a {
}
